.wrapper {
  margin-top: 40px;
  background-color: #fff;
  width: 40%;
  transition: 1s ease-in;
  padding: 12px;
  font-size: 12px;
}
.info {
  padding: 12px;
  width: 200px;
  color: rgb(177, 169, 169);
  padding-top: 270px;
  transition: 1s ease-in;
}
body {
  background-color: aliceblue;
}
